In [19]:
import pandas as pd
import numpy as np

In [20]:
us_accidents = pd.read_csv("C:/Users/Hobbs/OneDrive/Documents/SpartaHack2026/ShouldDrive_Spartahack11/US_Accidents_March23.csv")

In [21]:
us_accidents.head()

,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,Source2,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,Source2,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Night,Night,Day
2,A-3,Source2,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,0.01,...,False,False,False,False,True,False,Night,Night,Day,Day
3,A-4,Source2,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Day,Day,Day
4,A-5,Source2,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,0.01,...,False,False,False,False,True,False,Day,Day,Day,Day

In [22]:
df = us_accidents.dropna()

In [23]:
michigan = df.loc[df['State'] == 'MI'].copy()

In [24]:
risk = ['Low', 'Medium', 'High']

conditions = [
    michigan['Severity'] == 1,
    michigan['Severity'].isin([2, 3]),
    michigan['Severity'] == 4
]

michigan['Risk'] = np.select(conditions, risk, default='Unknown')

In [25]:
michigan.describe()

,Severity,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph),Precipitation(in)
count,55275.000000,55275.000000,55275.000000,55275.000000,55275.000000,55275.000000,55275.000000,55275.000000,55275.000000,55275.000000,55275.000000,55275.000000,55275.000000
mean,2.174871,42.664401,-84.152283,42.664965,-84.151911,0.888574,47.671130,43.518596,69.387354,29.195663,8.219022,9.376557,0.005468
std,0.540633,0.428115,1.099486,0.427890,1.099039,1.663513,21.374571,25.412552,18.388138,0.296989,3.112996,5.424586,0.029642
min,1.000000,41.730293,-89.941080,41.694321,-89.941080,0.000000,-14.000000,-35.600000,5.000000,27.650000,0.000000,0.000000,0.000000
25%,2.000000,42.368544,-85.577648,42.368544,-85.579036,0.140000,31.000000,23.000000,56.000000,29.010000,7.000000,6.000000,0.000000
50%,2.000000,42.550296,-83.697502,42.551167,-83.698607,0.484000,45.000000,40.000000,72.000000,29.180000,10.000000,9.000000,0.000000
75%,2.000000,42.963664,-83.218206,42.964263,-83.217944,1.051000,67.000000,67.000000,85.000000,29.370000,10.000000,13.000000,0.000000
max,4.000000,47.018250,-82.424994,47.018250,-82.413212,71.624000,98.000000,98.000000,100.000000,31.100000,12.000000,38.000000,1.520000

In [26]:
michigan.columns

Index(['ID', 'Source', 'Severity', 'Start_Time', 'End_Time', 'Start_Lat',
       'Start_Lng', 'End_Lat', 'End_Lng', 'Distance(mi)', 'Description',
       'Street', 'City', 'County', 'State', 'Zipcode', 'Country', 'Timezone',
       'Airport_Code', 'Weather_Timestamp', 'Temperature(F)', 'Wind_Chill(F)',
       'Humidity(%)', 'Pressure(in)', 'Visibility(mi)', 'Wind_Direction',
       'Wind_Speed(mph)', 'Precipitation(in)', 'Weather_Condition', 'Amenity',
       'Bump', 'Crossing', 'Give_Way', 'Junction', 'No_Exit', 'Railway',
       'Roundabout', 'Station', 'Stop', 'Traffic_Calming', 'Traffic_Signal',
       'Turning_Loop', 'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight',
       'Astronomical_Twilight', 'Risk'],
      dtype='object')

In [27]:
model_cols = [
    "Risk",
    "City",
    "State",
    "Zipcode",
    "Temperature(F)",
    "Wind_Chill(F)",
    "Humidity(%)",
    "Pressure(in)",
    "Visibility(mi)",
    "Wind_Direction",
    "Wind_Speed(mph)",
    "Precipitation(in)",
    "Weather_Condition",
    "Sunrise_Sunset"
]

michigan_model = michigan[model_cols].copy()

In [28]:
michigan_model.describe(include = 'all')

,Risk,City,State,Zipcode,Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Direction,Wind_Speed(mph),Precipitation(in),Weather_Condition,Sunrise_Sunset
count,55275,55275,55275,55275,55275.000000,55275.000000,55275.000000,55275.000000,55275.000000,55275,55275.000000,55275.000000,55275,55275
unique,3,449,1,6840,NaN,NaN,NaN,NaN,NaN,23,NaN,NaN,63,2
top,Medium,Grand Rapids,MI,49504,NaN,NaN,NaN,NaN,NaN,W,NaN,NaN,Fair,Day
freq,51185,9345,55275,1042,NaN,NaN,NaN,NaN,NaN,6295,NaN,NaN,16850,35510
mean,NaN,NaN,NaN,NaN,47.671130,43.518596,69.387354,29.195663,8.219022,NaN,9.376557,0.005468,NaN,NaN
std,NaN,NaN,NaN,NaN,21.374571,25.412552,18.388138,0.296989,3.112996,NaN,5.424586,0.029642,NaN,NaN
min,NaN,NaN,NaN,NaN,-14.000000,-35.600000,5.000000,27.650000,0.000000,NaN,0.000000,0.000000,NaN,NaN
25%,NaN,NaN,NaN,NaN,31.000000,23.000000,56.000000,29.010000,7.000000,NaN,6.000000,0.000000,NaN,NaN
50%,NaN,NaN,NaN,NaN,45.000000,40.000000,72.000000,29.180000,10.000000,NaN,9.000000,0.000000,NaN,NaN
75%,NaN,NaN,NaN,NaN,67.000000,67.000000,85.000000,29.370000,10.000000,NaN,13.000000,0.000000,NaN,NaN
max,NaN,NaN,NaN,NaN,98.000000,98.000000,100.000000,31.100000,12.000000,NaN,38.000000,1.520000,NaN,NaN

In [29]:
michigan_model["Weather_Condition"].unique()

array(['Light Rain', 'Overcast', 'Light Snow', 'Mostly Cloudy', 'Snow',
       'Rain', 'Haze', 'Heavy Snow', 'Partly Cloudy', 'Clear',
       'Light Drizzle', 'Light Freezing Rain', 'Light Ice Pellets',
       'Light Freezing Drizzle', 'Heavy Rain', 'Fair', 'Cloudy',
       'Freezing Rain', 'Rain / Windy', 'Wintry Mix',
       'Light Snow / Windy', 'Fair / Windy', 'Wintry Mix / Windy', 'Fog',
       'Light Rain / Windy', 'Partly Cloudy / Windy',
       'Light Freezing Rain / Windy', 'Snow and Sleet / Windy',
       'Cloudy / Windy', 'Freezing Rain / Windy', 'Drizzle',
       'Mostly Cloudy / Windy', 'N/A Precipitation',
       'Light Rain with Thunder', 'Heavy T-Storm', 'Heavy Snow / Windy',
       'Snow / Windy', 'Showers in the Vicinity', 'Blowing Snow / Windy',
       'Mist', 'Snow and Sleet', 'T-Storm', 'Sleet', 'Patches of Fog',
       'Shallow Fog', 'Light Drizzle / Windy', 'Thunder',
       'Heavy T-Storm / Windy', 'Haze / Windy', 'Heavy Drizzle',
       'Thunder in the Vicinity', 'Light Snow and Sleet', 'Blowing Snow',
       'T-Storm / Windy', 'Thunder / Wintry Mix', 'Light Sleet',
       'Heavy Rain / Windy', 'Scattered Clouds', 'Small Hail',
       'Light Freezing Fog', 'Thunderstorms and Rain',
       'Heavy Thunderstorms and Rain', 'Light Thunderstorms and Rain'],
      dtype=object)

In [30]:
w = michigan['Weather_Condition'].str.lower()

conditions = [
    w.str.contains('thunder|t-storm|hail'),
    w.str.contains('snow|sleet|ice|freezing|wintry'),
    w.str.contains('rain|drizzle|shower'),
    w.str.contains('fog|mist|haze'),
    w.str.contains('cloud|overcast'),
    w.str.contains('clear|fair')
]

choices = [
    'Storm',
    'Snow_Ice',
    'Rain',
    'Fog_Haze',
    'Cloudy',
    'Clear'
]

michigan['Weather_Simple'] = np.select(conditions, choices, default='Other')

count      55275
unique         7
top       Cloudy
freq       24362
Name: Weather_Simple, dtype: object