In [1]:
import pandas as pd
import numpy as np

In [2]:
us_accidents = pd.read_csv("C:/Users/Hobbs/OneDrive/Documents/SpartaHack2026/US_Accidents_March23.csv")

In [3]:
us_accidents.head()

,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,Source2,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,Source2,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Night,Night,Day
2,A-3,Source2,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,0.01,...,False,False,False,False,True,False,Night,Night,Day,Day
3,A-4,Source2,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Day,Day,Day
4,A-5,Source2,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,0.01,...,False,False,False,False,True,False,Day,Day,Day,Day

In [6]:
df = us_accidents.dropna()

In [12]:
michigan = df[df['State'] == 'MI']

In [13]:
michigan.describe()

,Severity,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph),Precipitation(in)
count,55275.000000,55275.000000,55275.000000,55275.000000,55275.000000,55275.000000,55275.000000,55275.000000,55275.000000,55275.000000,55275.000000,55275.000000,55275.000000
mean,2.174871,42.664401,-84.152283,42.664965,-84.151911,0.888574,47.671130,43.518596,69.387354,29.195663,8.219022,9.376557,0.005468
std,0.540633,0.428115,1.099486,0.427890,1.099039,1.663513,21.374571,25.412552,18.388138,0.296989,3.112996,5.424586,0.029642
min,1.000000,41.730293,-89.941080,41.694321,-89.941080,0.000000,-14.000000,-35.600000,5.000000,27.650000,0.000000,0.000000,0.000000
25%,2.000000,42.368544,-85.577648,42.368544,-85.579036,0.140000,31.000000,23.000000,56.000000,29.010000,7.000000,6.000000,0.000000
50%,2.000000,42.550296,-83.697502,42.551167,-83.698607,0.484000,45.000000,40.000000,72.000000,29.180000,10.000000,9.000000,0.000000
75%,2.000000,42.963664,-83.218206,42.964263,-83.217944,1.051000,67.000000,67.000000,85.000000,29.370000,10.000000,13.000000,0.000000
max,4.000000,47.018250,-82.424994,47.018250,-82.413212,71.624000,98.000000,98.000000,100.000000,31.100000,12.000000,38.000000,1.520000

In [15]:
michigan.columns

Index(['ID', 'Source', 'Severity', 'Start_Time', 'End_Time', 'Start_Lat',
       'Start_Lng', 'End_Lat', 'End_Lng', 'Distance(mi)', 'Description',
       'Street', 'City', 'County', 'State', 'Zipcode', 'Country', 'Timezone',
       'Airport_Code', 'Weather_Timestamp', 'Temperature(F)', 'Wind_Chill(F)',
       'Humidity(%)', 'Pressure(in)', 'Visibility(mi)', 'Wind_Direction',
       'Wind_Speed(mph)', 'Precipitation(in)', 'Weather_Condition', 'Amenity',
       'Bump', 'Crossing', 'Give_Way', 'Junction', 'No_Exit', 'Railway',
       'Roundabout', 'Station', 'Stop', 'Traffic_Calming', 'Traffic_Signal',
       'Turning_Loop', 'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight',
       'Astronomical_Twilight'],
      dtype='object')

In [16]:
model_cols = [
    "Severity",
    "Description",
    "City",
    "State",
    "Zipcode",
    "Temperature(F)",
    "Wind_Chill(F)",
    "Humidity(%)",
    "Pressure(in)",
    "Visibility(mi)",
    "Wind_Direction",
    "Wind_Speed(mph)",
    "Precipitation(in)",
    "Weather_Condition",
    "Sunrise_Sunset"
]

michigan_model = michigan[model_cols].copy()

In [17]:
michigan_model.describe()

,Severity,Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph),Precipitation(in)
count,55275.000000,55275.000000,55275.000000,55275.000000,55275.000000,55275.000000,55275.000000,55275.000000
mean,2.174871,47.671130,43.518596,69.387354,29.195663,8.219022,9.376557,0.005468
std,0.540633,21.374571,25.412552,18.388138,0.296989,3.112996,5.424586,0.029642
min,1.000000,-14.000000,-35.600000,5.000000,27.650000,0.000000,0.000000,0.000000
25%,2.000000,31.000000,23.000000,56.000000,29.010000,7.000000,6.000000,0.000000
50%,2.000000,45.000000,40.000000,72.000000,29.180000,10.000000,9.000000,0.000000
75%,2.000000,67.000000,67.000000,85.000000,29.370000,10.000000,13.000000,0.000000
max,4.000000,98.000000,98.000000,100.000000,31.100000,12.000000,38.000000,1.520000